.phpintel
.idea
/05/5.2/app/vendor
/9.WP/wp-admin
/9.WP/wp-includes
/9.WP/*php
/9.WP/wp-content/languages
/9.WP/wp-content/uploads
/9.WP/wp-content/themes/twentyfifteen
/9.WP/wp-content/themes/twentyseventeen
/9.WP/wp-content/themes/twentysixteen