.header
    .container
        .logo
            img.logo__img(src='assets/img/logo.png' title='logo')
        .sidebar#sidebar
            .sidebar__title#sidebar__title Посмотреть всех
            .sidebar__btn#menu-btn
                .sidebar__btn-bar

.sidebar__inner.addblock#sidebarInner
    .addblock__top
        .addblock__title Понравились
        ul.addblock__list
            li.addblock__item
                .addblock__img-wrapper
                    img.addblock__img(src="assets/img/face.png")
                .remove
                .addblock__user Имя Фамилия

            li.addblock__item
                .addblock__img-wrapper
                    img.addblock__img(src="assets/img/face.png")
                .remove
                .addblock__user Имя Фамилия
            li.addblock__item
                .addblock__img-wrapper
                    img.addblock__img(src="assets/img/face.png")
                .remove
                .addblock__user Имя Фамилия
            li.addblock__item
                .addblock__img-wrapper
                    img.addblock__img(src="assets/img/face.png")
                .remove
                .addblock__user Имя Фамилия

        ul.paginator__list
            li.paginator__items
                a.paginator__link(href="#") <
            li.paginator__items
                a.paginator__link(href="#") 1
            li.paginator__items
                a.paginator__link(href="#") 2
            li.paginator__items
                a.paginator__link(href="#") >
        .line
    .addblock__down
        .addblock__title Не понравились
        ul.addblock__list
            li.addblock__item
                .addblock__img-wrapper
                    img.addblock__img(src="assets/img/face.png")
                .remove
                .addblock__user Имя Фамилия

            li.addblock__item
                .addblock__img-wrapper
                    img.addblock__img(src="assets/img/face.png")
                .remove
                .addblock__user Имя Фамилия
            li.addblock__item
                .addblock__img-wrapper
                    img.addblock__img(src="assets/img/face.png")
                .remove
                .addblock__user Имя Фамилия


