.main
    .main-foto
        .main-foto__inner
            .main-foto__wrapper
                img.main-foto__img(src="assets/img/main-face.png" alt="")
            .main-foto__name Кристина Алексеева
            .main-foto__uni СПБГУ’ 15
        .main-foto__buttons
            a.btn.btn_true(href='#') Нравится
            a.btn.btn_false(href='#') Не нравится

