{% extends 'layout.twig' %}

{% block content %}
  <h1>Запретная зона, доступ только авторизированному пользователю</h1>
  <h2>Информация выводится из списка файлов</h2>
  <table class="table table-bordered">
    <tr>
      <th>Название файла</th>
      <th>Фотография</th>
      <th>Действия</th>
    </tr>
    {% for image in images %}
          <tr>
          <td>{{image}}</td>
          <td><img src="app/img/{{image}}" alt=""></td>
          <td><a href="filelist/delete/?img={{image}}">Удалить аватарку пользователя</a></td>
          </tr>   
    {% endfor %}  
  </table>
{% endblock %}