{% extends 'layout.twig' %}

{% block content %}
  <h1>Запретная зона, доступ только авторизированному пользователю</h1>
  <h2>Информация выводится из списка файлов</h2>
  <table class="table table-bordered">
    <tr>
      <th>Название файла</th>
      <th>Фотография</th>
      <th>Действия</th>
    </tr>
    {% for photo in photos %}
          <tr>
          <td>{{photo}}</td>
          <td><img src="app/img/{{photo}}" style="width: 200px;" alt=""></td>
          <td><a href="?filelist?delete?{{photo}}">Удалить аватарку пользователя</a></td>
          </tr>   
    {% endfor %}  
  </table>
{% endblock %}