// clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// full-width list
@mixin list-justify {
  text-align: justify;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

// fullscreen
@mixin fullscreen {
  height: 100vh;
  min-height: 650px;

  /* fix iOS bug not displaying 100vh correctly */
  /* ipad */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    height: 768px;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    height: 1024px;
  }
  /* iphone5 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    height: 320px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    height: 568px;
  }
  /* iPhone 4 */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    height: 320px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    height: 480px;
  }
}

// centered
@mixin centered {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}

// rem
@function rem($px) {
  @return ($px / 16px) + 0rem
}

// media
@mixin wide() {
  @media screen and (min-width: 1601px) {
    @content;
  }
}
@mixin desktop() {
  @media screen and (max-width: 1600px) {
    @content;
  }
}
@mixin laptop() {
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin tablet() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin phone() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

// fonts
@mixin roboto-bold {
  font-family:'Roboto-Bold';
}
@mixin roboto-light {
  font-family:'Roboto-Light';
}
@mixin roboto-medium {
  font-family:'Roboto-Medium';
}
@mixin roboto-regular {
  font-family:'Roboto-Regular';
}
@mixin bernier {
  font-family:'BERNIERRegular-Regular';
}


@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}




@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
